In [2]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import (
    classification_report,
    precision_score,
    recall_score,
    accuracy_score,
    f1_score,
)
from sklearn.model_selection import KFold
import pandas as pd
import numpy as np
import pickle

### Read Initial CSVs

In [4]:
Train_df= pd.read_csv("Training_set.csv")
Initial_Test_df= pd.read_csv("Testing_set.csv")

In [5]:
rfc = RandomForestClassifier(class_weight={0: 10, 1: 1})

In [79]:
New_Test_df=pd.read_csv(r"C:\Users\hp\Downloads\archive (6)\flights_sample_3m.csv")

In [80]:
New_Test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000000 entries, 0 to 2999999
Data columns (total 32 columns):
 #   Column                   Dtype
---  ------                   -----
 0   FL_DATE                  object
 1   AIRLINE                  object
 2   AIRLINE_DOT              object
 3   AIRLINE_CODE             object
 4   DOT_CODE                 int64
 5   FL_NUMBER                int64
 6   ORIGIN                   object
 7   ORIGIN_CITY              object
 8   DEST                     object
 9   DEST_CITY                object
 10  CRS_DEP_TIME             int64
 11  DEP_TIME                 float64
 12  DEP_DELAY                float64
 13  TAXI_OUT                 float64
 14  WHEELS_OFF               float64
 15  WHEELS_ON                float64
 16  TAXI_IN                  float64
 17  CRS_ARR_TIME             int64
 18  ARR_TIME                 float64
 19  ARR_DELAY                float64
 20  CANCELLED                float64
 21  CANCELLATION_CODE        object
 22  DIVERTED                 float64
 23  CRS_ELAPSED_TIME         float64
 24  ELAPSED_TIME             float64
 25  AIR_TIME                 float64
 26  DISTANCE                 float64
 27  DELAY_DUE_CARRIER        float64
 28  DELAY_DUE_WEATHER        float64
 29  DELAY_DUE_NAS            float64
 30  DELAY_DUE_SECURITY       float64
 31  DELAY_DUE_LATE_AIRCRAFT  float64
dtypes: float64(19), int64(4), object(9)
memory usage: 732.4+ MB

In [81]:
# Train_df["UniqueCarrier_WN"].value_counts()
word_to_match="UniqueCarrier"
matching_columns = [col for col in Train_df.columns if col.startswith(word_to_match)]
filtered_df=Train_df[matching_columns]
sorted_columns = filtered_df.sum().sort_values(ascending=False).index

for c in sorted_columns:
    print(Train_df[c].value_counts())

UniqueCarrier_WN
0.0    290299
1.0     95217
Name: count, dtype: int64
UniqueCarrier_AA
0.0    327221
1.0     58295
Name: count, dtype: int64
UniqueCarrier_MQ
0.0    338495
1.0     47021
Name: count, dtype: int64
UniqueCarrier_UA
0.0    339826
1.0     45690
Name: count, dtype: int64
UniqueCarrier_OO
0.0    346340
1.0     39176
Name: count, dtype: int64
UniqueCarrier_US
0.0    360199
1.0     25317
Name: count, dtype: int64
UniqueCarrier_DL
0.0    361295
1.0     24221
Name: count, dtype: int64
UniqueCarrier_EV
0.0    363421
1.0     22095
Name: count, dtype: int64
UniqueCarrier_B6
0.0    373284
1.0     12232
Name: count, dtype: int64
UniqueCarrier_AS
0.0    377553
1.0      7963
Name: count, dtype: int64
UniqueCarrier_F9
0.0    378375
1.0      7141
Name: count, dtype: int64
UniqueCarrier_HA
0.0    384368
1.0      1148
Name: count, dtype: int64

In [82]:
word_to_match="Dest"
matching_columns = [col for col in Train_df.columns if col.startswith(word_to_match)]
filtered_df=Train_df[matching_columns]
sorted_columns = filtered_df.sum().sort_values(ascending=False).index

for c in sorted_columns:
    print(Train_df[c].value_counts())

Dest_ORD
0.0    352962
1.0     32554
Name: count, dtype: int64
Dest_DFW
0.0    365958
1.0     19558
Name: count, dtype: int64
Dest_ATL
0.0    367029
1.0     18487
Name: count, dtype: int64
Dest_DEN
0.0    370116
1.0     15400
Name: count, dtype: int64
Dest_LAX
0.0    370997
1.0     14519
Name: count, dtype: int64
Dest_SFO
0.0    373254
1.0     12262
Name: count, dtype: int64
Dest_LAS
0.0    373555
1.0     11961
Name: count, dtype: int64
Dest_PHX
0.0    375468
1.0     10048
Name: count, dtype: int64
Dest_LGA
0.0    377003
1.0      8513
Name: count, dtype: int64
Dest_SLC
0.0    378283
1.0      7233
Name: count, dtype: int64
Dest_MCO
0.0    378503
1.0      7013
Name: count, dtype: int64
Dest_JFK
0.0    378700
1.0      6816
Name: count, dtype: int64
Dest_PHL
0.0    378989
1.0      6527
Name: count, dtype: int64
Dest_SAN
0.0    379110
1.0      6406
Name: count, dtype: int64
Dest_SEA
0.0    379159
1.0      6357
Name: count, dtype: int64
Dest_BOS
0.0    379584
1.0      5932
Name: count, dtype: int64
Dest_MDW
0.0    379884
1.0      5632
Name: count, dtype: int64
Dest_BWI
0.0    379921
1.0      5595
Name: count, dtype: int64
Dest_MIA
0.0    380539
1.0      4977
Name: count, dtype: int64
Dest_OAK
0.0    380697
1.0      4819
Name: count, dtype: int64
Dest_CLT
0.0    380810
1.0      4706
Name: count, dtype: int64
Dest_HOU
0.0    380940
1.0      4576
Name: count, dtype: int64
Dest_TPA
0.0    381023
1.0      4493
Name: count, dtype: int64
Dest_DAL
0.0    381372
1.0      4144
Name: count, dtype: int64
Dest_FLL
0.0    381420
1.0      4096
Name: count, dtype: int64
Dest_SJC
0.0    381515
1.0      4001
Name: count, dtype: int64
Dest_STL
0.0    381526
1.0      3990
Name: count, dtype: int64
Dest_PDX
0.0    381613
1.0      3903
Name: count, dtype: int64
Dest_SMF
0.0    381700
1.0      3816
Name: count, dtype: int64
Dest_MCI
0.0    381713
1.0      3803
Name: count, dtype: int64
Dest_DCA
0.0    381763
1.0      3753
Name: count, dtype: int64
Dest_BNA
0.0    381764
1.0      3752
Name: count, dtype: int64
Dest_RDU
0.0    382056
1.0      3460
Name: count, dtype: int64
Dest_EWR
0.0    382083
1.0      3433
Name: count, dtype: int64
Dest_IAD
0.0    382226
1.0      3290
Name: count, dtype: int64
Dest_AUS
0.0    382423
1.0      3093
Name: count, dtype: int64
Dest_SAT
0.0    382590
1.0      2926
Name: count, dtype: int64
Dest_SNA
0.0    382648
1.0      2868
Name: count, dtype: int64
Dest_ABQ
0.0    382898
1.0      2618
Name: count, dtype: int64
Dest_PIT
0.0    383028
1.0      2488
Name: count, dtype: int64
Dest_CMH
0.0    383157
1.0      2359
Name: count, dtype: int64
Dest_MSY
0.0    383159
1.0      2357
Name: count, dtype: int64
Dest_ONT
0.0    383224
1.0      2292
Name: count, dtype: int64
Dest_MKE
0.0    383338
1.0      2178
Name: count, dtype: int64
Dest_BUR
0.0    383404
1.0      2112
Name: count, dtype: int64
Dest_DTW
0.0    383408
1.0      2108
Name: count, dtype: int64
Dest_RNO
0.0    383494
1.0      2022
Name: count, dtype: int64
Dest_MSP
0.0    383603
1.0      1913
Name: count, dtype: int64
Dest_BDL
0.0    383619
1.0      1897
Name: count, dtype: int64
Dest_CVG
0.0    383692
1.0      1824
Name: count, dtype: int64
Dest_OMA
0.0    383750
1.0      1766
Name: count, dtype: int64
Dest_IND
0.0    383755
1.0      1761
Name: count, dtype: int64
Dest_CLE
0.0    383829
1.0      1687
Name: count, dtype: int64
Dest_TUL
0.0    383858
1.0      1658
Name: count, dtype: int64
Dest_JAX
0.0    383898
1.0      1618
Name: count, dtype: int64
Dest_SJU
0.0    383900
1.0      1616
Name: count, dtype: int64
Dest_OKC
0.0    383915
1.0      1601
Name: count, dtype: int64
Dest_PBI
0.0    383947
1.0      1569
Name: count, dtype: int64
Dest_ELP
0.0    383990
1.0      1526
Name: count, dtype: int64
Dest_TUS
0.0    383996
1.0      1520
Name: count, dtype: int64
Dest_SDF
0.0    384002
1.0      1514
Name: count, dtype: int64
Dest_BUF
0.0    384046
1.0      1470
Name: count, dtype: int64
Dest_PVD
0.0    384095
1.0      1421
Name: count, dtype: int64
Dest_LIT
0.0    384174
1.0      1342
Name: count, dtype: int64
Dest_HNL
0.0    384300
1.0      1216
Name: count, dtype: int64
Dest_BOI
0.0    384307
1.0      1209
Name: count, dtype: int64
Dest_BHM
0.0    384320
1.0      1196
Name: count, dtype: int64
Dest_RSW
0.0    384328
1.0      1188
Name: count, dtype: int64
Dest_MHT
0.0    384432
1.0      1084
Name: count, dtype: int64
Dest_DSM
0.0    384445
1.0      1071
Name: count, dtype: int64
Dest_XNA
0.0    384465
1.0      1051
Name: count, dtype: int64
Dest_ANC
0.0    384476
1.0      1040
Name: count, dtype: int64
Dest_GEG
0.0    384498
1.0      1018
Name: count, dtype: int64
Dest_IAH
0.0    384540
1.0       976
Name: count, dtype: int64
Dest_ICT
0.0    384624
1.0       892
Name: count, dtype: int64
Dest_ORF
0.0    384659
1.0       857
Name: count, dtype: int64
Dest_PSP
0.0    384681
1.0       835
Name: count, dtype: int64
Dest_SGF
0.0    384687
1.0       829
Name: count, dtype: int64
Dest_JAN
0.0    384687
1.0       829
Name: count, dtype: int64
Dest_COS
0.0    384694
1.0       822
Name: count, dtype: int64
Dest_LBB
0.0    384705
1.0       811
Name: count, dtype: int64
Dest_ISP
0.0    384707
1.0       809
Name: count, dtype: int64
Dest_MEM
0.0    384713
1.0       803
Name: count, dtype: int64
Dest_ALB
0.0    384715
1.0       801
Name: count, dtype: int64
Dest_MSN
0.0    384725
1.0       791
Name: count, dtype: int64
Dest_RIC
0.0    384752
1.0       764
Name: count, dtype: int64
Dest_FAT
0.0    384754
1.0       762
Name: count, dtype: int64
Dest_GRR
0.0    384770
1.0       746
Name: count, dtype: int64
Dest_SBA
0.0    384796
1.0       720
Name: count, dtype: int64
Dest_MAF
0.0    384846
1.0       670
Name: count, dtype: int64
Dest_HPN
0.0    384860
1.0       656
Name: count, dtype: int64
Dest_AMA
0.0    384882
1.0       634
Name: count, dtype: int64
Dest_DAY
0.0    384901
1.0       615
Name: count, dtype: int64
Dest_SYR
0.0    384937
1.0       579
Name: count, dtype: int64
Dest_TYS
0.0    384949
1.0       567
Name: count, dtype: int64
Dest_BTR
0.0    384964
1.0       552
Name: count, dtype: int64
Dest_ROC
0.0    384965
1.0       551
Name: count, dtype: int64
Dest_CID
0.0    384977
1.0       539
Name: count, dtype: int64
Dest_SHV
0.0    384992
1.0       524
Name: count, dtype: int64
Dest_PIA
0.0    385007
1.0       509
Name: count, dtype: int64
Dest_VPS
0.0    385030
1.0       486
Name: count, dtype: int64
Dest_GRB
0.0    385053
1.0       463
Name: count, dtype: int64
Dest_OGG
0.0    385055
1.0       461
Name: count, dtype: int64
Dest_FNT
0.0    385058
1.0       458
Name: count, dtype: int64
Dest_HSV
0.0    385065
1.0       451
Name: count, dtype: int64
Dest_FWA
0.0    385067
1.0       449
Name: count, dtype: int64
Dest_MDT
0.0    385069
1.0       447
Name: count, dtype: int64
Dest_PNS
0.0    385074
1.0       442
Name: count, dtype: int64
Dest_LGB
0.0    385080
1.0       436
Name: count, dtype: int64
Dest_CAE
0.0    385080
1.0       436
Name: count, dtype: int64
Dest_HRL
0.0    385085
1.0       431
Name: count, dtype: int64
Dest_CRP
0.0    385087
1.0       429
Name: count, dtype: int64
Dest_MRY
0.0    385091
1.0       425
Name: count, dtype: int64
Dest_ASE
0.0    385092
1.0       424
Name: count, dtype: int64
Dest_LEX
0.0    385101
1.0       415
Name: count, dtype: int64
Dest_CHS
0.0    385114
1.0       402
Name: count, dtype: int64
Dest_CMI
0.0    385115
1.0       401
Name: count, dtype: int64
Dest_MLI
0.0    385130
1.0       386
Name: count, dtype: int64
Dest_GRK
0.0    385133
1.0       383
Name: count, dtype: int64
Dest_GPT
0.0    385137
1.0       379
Name: count, dtype: int64
Dest_SAV
0.0    385139
1.0       377
Name: count, dtype: int64
Dest_MFR
0.0    385142
1.0       374
Name: count, dtype: int64
Dest_GSP
0.0    385144
1.0       372
Name: count, dtype: int64
Dest_ACV
0.0    385176
1.0       340
Name: count, dtype: int64
Dest_EVV
0.0    385180
1.0       336
Name: count, dtype: int64
Dest_MOB
0.0    385192
1.0       324
Name: count, dtype: int64
Dest_GSO
0.0    385196
1.0       320
Name: count, dtype: int64
Dest_SBP
0.0    385201
1.0       315
Name: count, dtype: int64
Dest_CHA
0.0    385210
1.0       306
Name: count, dtype: int64
Dest_FSD
0.0    385212
1.0       304
Name: count, dtype: int64
Dest_CAK
0.0    385215
1.0       301
Name: count, dtype: int64
Dest_KOA
0.0    385216
1.0       300
Name: count, dtype: int64
Dest_RST
0.0    385223
1.0       293
Name: count, dtype: int64
Dest_BZN
0.0    385224
1.0       292
Name: count, dtype: int64
Dest_JAC
0.0    385226
1.0       290
Name: count, dtype: int64
Dest_EUG
0.0    385228
1.0       288
Name: count, dtype: int64
Dest_STT
0.0    385228
1.0       288
Name: count, dtype: int64
Dest_ATW
0.0    385241
1.0       275
Name: count, dtype: int64
Dest_EGE
0.0    385248
1.0       268
Name: count, dtype: int64
Dest_MYR
0.0    385254
1.0       262
Name: count, dtype: int64
Dest_BMI
0.0    385259
1.0       257
Name: count, dtype: int64
Dest_ABI
0.0    385263
1.0       253
Name: count, dtype: int64
Dest_LIH
0.0    385265
1.0       251
Name: count, dtype: int64
Dest_FAI
0.0    385272
1.0       244
Name: count, dtype: int64
Dest_AZO
0.0    385273
1.0       243
Name: count, dtype: int64
Dest_LNK
0.0    385275
1.0       241
Name: count, dtype: int64
Dest_SWF
0.0    385285
1.0       231
Name: count, dtype: int64
Dest_JNU
0.0    385292
1.0       224
Name: count, dtype: int64
Dest_FAR
0.0    385293
1.0       223
Name: count, dtype: int64
Dest_PWM
0.0    385295
1.0       221
Name: count, dtype: int64
Dest_HDN
0.0    385296
1.0       220
Name: count, dtype: int64
Dest_BTV
0.0    385299
1.0       217
Name: count, dtype: int64
Dest_TLH
0.0    385300
1.0       216
Name: count, dtype: int64
Dest_TVC
0.0    385301
1.0       215
Name: count, dtype: int64
Dest_CRW
0.0    385303
1.0       213
Name: count, dtype: int64
Dest_BIL
0.0    385307
1.0       209
Name: count, dtype: int64
Dest_FSM
0.0    385311
1.0       205
Name: count, dtype: int64
Dest_SRQ
0.0    385314
1.0       202
Name: count, dtype: int64
Dest_BFL
0.0    385314
1.0       202
Name: count, dtype: int64
Dest_SPS
0.0    385315
1.0       201
Name: count, dtype: int64
Dest_LAW
0.0    385316
1.0       200
Name: count, dtype: int64
Dest_LFT
0.0    385317
1.0       199
Name: count, dtype: int64
Dest_PHF
0.0    385318
1.0       198
Name: count, dtype: int64
Dest_AGS
0.0    385325
1.0       191
Name: count, dtype: int64
Dest_ILM
0.0    385327
1.0       189
Name: count, dtype: int64
Dest_ACT
0.0    385328
1.0       188
Name: count, dtype: int64
Dest_MGM
0.0    385331
1.0       185
Name: count, dtype: int64
Dest_RDD
0.0    385337
1.0       179
Name: count, dtype: int64
Dest_RDM
0.0    385339
1.0       177
Name: count, dtype: int64
Dest_ABE
0.0    385339
1.0       177
Name: count, dtype: int64
Dest_FAY
0.0    385339
1.0       177
Name: count, dtype: int64
Dest_AEX
0.0    385340
1.0       176
Name: count, dtype: int64
Dest_MLB
0.0    385348
1.0       168
Name: count, dtype: int64
Dest_DAB
0.0    385350
1.0       166
Name: count, dtype: int64
Dest_SJT
0.0    385353
1.0       163
Name: count, dtype: int64
Dest_MQT
0.0    385354
1.0       162
Name: count, dtype: int64
Dest_GNV
0.0    385355
1.0       161
Name: count, dtype: int64
Dest_LSE
0.0    385357
1.0       159
Name: count, dtype: int64
Dest_TOL
0.0    385357
1.0       159
Name: count, dtype: int64
Dest_KTN
0.0    385357
1.0       159
Name: count, dtype: int64
Dest_MSO
0.0    385361
1.0       155
Name: count, dtype: int64
Dest_MLU
0.0    385362
1.0       154
Name: count, dtype: int64
Dest_SBN
0.0    385363
1.0       153
Name: count, dtype: int64
Dest_DBQ
0.0    385366
1.0       150
Name: count, dtype: int64
Dest_IDA
0.0    385368
1.0       148
Name: count, dtype: int64
Dest_LRD
0.0    385374
1.0       142
Name: count, dtype: int64
Dest_SGU
0.0    385375
1.0       141
Name: count, dtype: int64
Dest_TYR
0.0    385375
1.0       141
Name: count, dtype: int64
Dest_TRI
0.0    385376
1.0       140
Name: count, dtype: int64
Dest_CSG
0.0    385382
1.0       134
Name: count, dtype: int64
Dest_EYW
0.0    385382
1.0       134
Name: count, dtype: int64
Dest_ROA
0.0    385385
1.0       131
Name: count, dtype: int64
Dest_PSC
0.0    385387
1.0       129
Name: count, dtype: int64
Dest_DHN
0.0    385390
1.0       126
Name: count, dtype: int64
Dest_AVP
0.0    385390
1.0       126
Name: count, dtype: int64
Dest_AVL
0.0    385393
1.0       123
Name: count, dtype: int64
Dest_MFE
0.0    385395
1.0       121
Name: count, dtype: int64
Dest_CWA
0.0    385398
1.0       118
Name: count, dtype: int64
Dest_GJT
0.0    385400
1.0       116
Name: count, dtype: int64
Dest_RAP
0.0    385406
1.0       110
Name: count, dtype: int64
Dest_ABY
0.0    385407
1.0       109
Name: count, dtype: int64
Dest_FCA
0.0    385408
1.0       108
Name: count, dtype: int64
Dest_CLL
0.0    385409
1.0       107
Name: count, dtype: int64
Dest_TXK
0.0    385409
1.0       107
Name: count, dtype: int64
Dest_CEC
0.0    385411
1.0       105
Name: count, dtype: int64
Dest_SMX
0.0    385412
1.0       104
Name: count, dtype: int64
Dest_GGG
0.0    385417
1.0        99
Name: count, dtype: int64
Dest_SIT
0.0    385417
1.0        99
Name: count, dtype: int64
Dest_CLD
0.0    385418
1.0        98
Name: count, dtype: int64
Dest_TWF
0.0    385422
1.0        94
Name: count, dtype: int64
Dest_GTF
0.0    385422
1.0        94
Name: count, dtype: int64
Dest_ROW
0.0    385425
1.0        91
Name: count, dtype: int64
Dest_SUN
0.0    385428
1.0        88
Name: count, dtype: int64
Dest_DRO
0.0    385430
1.0        86
Name: count, dtype: int64
Dest_VLD
0.0    385431
1.0        85
Name: count, dtype: int64
Dest_OAJ
0.0    385433
1.0        83
Name: count, dtype: int64
Dest_BQK
0.0    385436
1.0        80
Name: count, dtype: int64
Dest_CHO
0.0    385436
1.0        80
Name: count, dtype: int64
Dest_MTJ
0.0    385437
1.0        79
Name: count, dtype: int64
Dest_YUM
0.0    385437
1.0        79
Name: count, dtype: int64
Dest_PIH
0.0    385437
1.0        79
Name: count, dtype: int64
Dest_LAN
0.0    385438
1.0        78
Name: count, dtype: int64
Dest_BIS
0.0    385439
1.0        77
Name: count, dtype: int64
Dest_GTR
0.0    385447
1.0        69
Name: count, dtype: int64
Dest_OME
0.0    385453
1.0        63
Name: count, dtype: int64
Dest_BQN
0.0    385453
1.0        63
Name: count, dtype: int64
Dest_ITO
0.0    385453
1.0        63
Name: count, dtype: int64
Dest_YAK
0.0    385453
1.0        63
Name: count, dtype: int64
Dest_EWN
0.0    385454
1.0        62
Name: count, dtype: int64
Dest_HLN
0.0    385457
1.0        59
Name: count, dtype: int64
Dest_GUC
0.0    385458
1.0        58
Name: count, dtype: int64
Dest_CDV
0.0    385460
1.0        56
Name: count, dtype: int64
Dest_CPR
0.0    385463
1.0        53
Name: count, dtype: int64
Dest_EKO
0.0    385466
1.0        50
Name: count, dtype: int64
Dest_WRG
0.0    385466
1.0        50
Name: count, dtype: int64
Dest_MEI
0.0    385466
1.0        50
Name: count, dtype: int64
Dest_SPI
0.0    385467
1.0        49
Name: count, dtype: int64
Dest_BGR
0.0    385469
1.0        47
Name: count, dtype: int64
Dest_BRW
0.0    385470
1.0        46
Name: count, dtype: int64
Dest_BET
0.0    385470
1.0        46
Name: count, dtype: int64
Dest_PSE
0.0    385471
1.0        45
Name: count, dtype: int64
Dest_MBS
0.0    385472
1.0        44
Name: count, dtype: int64
Dest_PSG
0.0    385472
1.0        44
Name: count, dtype: int64
Dest_MKG
0.0    385474
1.0        42
Name: count, dtype: int64
Dest_OTZ
0.0    385475
1.0        41
Name: count, dtype: int64
Dest_STX
0.0    385479
1.0        37
Name: count, dtype: int64
Dest_SCC
0.0    385486
1.0        30
Name: count, dtype: int64
Dest_COD
0.0    385486
1.0        30
Name: count, dtype: int64
Dest_ADQ
0.0    385489
1.0        27
Name: count, dtype: int64
Dest_SCE
0.0    385496
1.0        20
Name: count, dtype: int64
Dest_CDC
0.0    385497
1.0        19
Name: count, dtype: int64
Dest_BTM
0.0    385499
1.0        17
Name: count, dtype: int64
Dest_LWS
0.0    385502
1.0        14
Name: count, dtype: int64
Dest_ACY
0.0    385503
1.0        13
Name: count, dtype: int64
Dest_ADK
0.0    385508
1.0         8
Name: count, dtype: int64
Dest_AKN
0.0    385510
1.0         6
Name: count, dtype: int64
Dest_DLG
0.0    385510
1.0         6
Name: count, dtype: int64
Dest_BLI
0.0    385511
1.0         5
Name: count, dtype: int64
Dest_WYS
0.0    385511
1.0         5
Name: count, dtype: int64

In [95]:
New_Test_df["FL_DATE"]=pd.to_datetime(New_Test_df["FL_DATE"])
New_Test_df = New_Test_df[New_Test_df['FL_DATE'].dt.year == 2019]
New_Test_df = New_Test_df[New_Test_df['FL_DATE'].dt.month < 7]

In [109]:
#New_Test_df[[New_Test_df["AIRLINE_CODE"]=="WN"]or[New_Test_df["DEST"]=="DFW"]]
cond1=New_Test_df["AIRLINE_CODE"]=="WN"
cond2=((New_Test_df["DEST"]=="LAX")| (New_Test_df["DEST"]=="ATL"))
cond3=((New_Test_df["ORIGIN"]=="ATL") | (New_Test_df["ORIGIN"]=="LAX"))
New_Test_df2=New_Test_df[cond1 & cond2& cond3].iloc[0:10,:]
cols_to_display=["AIRLINE_CODE","DEST","ORIGIN","FL_DATE","DEP_DELAY"]
New_Test_df2[cols_to_display]

       AIRLINE_CODE DEST ORIGIN    FL_DATE  DEP_DELAY
3837             WN  LAX    ATL 2019-01-13        5.0
67267            WN  ATL    LAX 2019-01-18        6.0
97560            WN  LAX    ATL 2019-02-10        3.0
215581           WN  LAX    ATL 2019-01-09       11.0
231573           WN  LAX    ATL 2019-06-28       -2.0
246642           WN  LAX    ATL 2019-03-07       27.0
308416           WN  LAX    ATL 2019-05-01        1.0
324113           WN  ATL    LAX 2019-01-26       -1.0
336314           WN  ATL    LAX 2019-02-01        3.0
366488           WN  ATL    LAX 2019-05-19       14.0

In [123]:
Name_Map = {
    'DEST': 'Dest',
    'ORIGIN': 'Origin',
    'AIRLINE_CODE': 'Airline',
    'DEP_DELAY': 'DepDelay',
    'FL_DATE': 'Date'

}
New_Test_df2 = New_Test_df2.rename(columns=Name_Map)
cols_to_display=["Airline","Dest","Origin","Date","DepDelay"]
New_Test_df2[cols_to_display]

       Airline Dest Origin       Date  DepDelay
3837        WN  LAX    ATL 2019-01-13       5.0
67267       WN  ATL    LAX 2019-01-18       6.0
97560       WN  LAX    ATL 2019-02-10       3.0
215581      WN  LAX    ATL 2019-01-09      11.0
231573      WN  LAX    ATL 2019-06-28      -2.0
246642      WN  LAX    ATL 2019-03-07      27.0
308416      WN  LAX    ATL 2019-05-01       1.0
324113      WN  ATL    LAX 2019-01-26      -1.0
336314      WN  ATL    LAX 2019-02-01       3.0
366488      WN  ATL    LAX 2019-05-19      14.0

In [205]:
Train_df

,ScheduledArrTime,Distance,ScheduledDepTime,ScheduledElapsedTime,Day,DepTemperature,DepWindSpeed,DepWindDirection,DepPrecipitation,DepRain,...,DayOfWeek_5,DayOfWeek_6,DayOfWeek_7,Month_1,Month_2,Month_3,Month_4,Month_5,Month_6,DepDelay
0,1527,1506,1012,315,22,-0.952000,10.464797,243.435010,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,67
1,1805,457,1740,25,1,22.004500,33.933697,228.871350,0.1,0.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,14
2,1750,491,1605,105,11,6.545500,28.585450,84.217705,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,14
3,1640,733,1500,100,10,12.289000,22.975220,305.433400,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,58
4,1713,2288,1440,153,4,18.052000,4.104631,285.255160,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385511,1536,1187,1045,291,17,9.593500,27.345785,286.049070,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,23
385512,1500,501,1255,125,30,-7.061000,16.657540,276.203340,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,19
385513,2159,1005,1903,176,23,32.086998,12.574260,283.240540,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,81
385514,1930,1172,1700,150,13,6.402000,20.570463,265.985900,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,88
385515,2025,214,1900,85,13,24.629501,8.404284,170.134260,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,22

In [218]:
#Unique Carrier List
UniqueCarrier_List=[]
for w in New_Test_df2["Airline"]:
    UniqueCarrier_List.append("UniqueCarrier_"+w)
    
print(UniqueCarrier_List)

#Dest List
Dest_List=[]
for w in New_Test_df2["Dest"]:
    Dest_List.append("Dest_"+w)
    
print(Dest_List)

#Origin List
Origin_List=[]
for w in New_Test_df2["Origin"]:
    Origin_List.append("Origin_"+w)
    
print(Origin_List)

#Month List
Month_List=[]
for w in New_Test_df2["Date"]:
    Month_List.append("Month_"+str(w.month))
    
print(Month_List)


#Day List
Day_List=[]
for w in New_Test_df2["Date"]:
    Day_List.append(w.day)
    
print(Day_List)

#Day of week List
DayofWeek_List=[]
for w in New_Test_df2["Date"]:
    DayofWeek_List.append("DayOfWeek_"+str(w.weekday()))
    
print(DayofWeek_List)

#DepDelay
DepDelay_List=[]
for w in New_Test_df2["DepDelay"]:
    DepDelay_List.append(w)
    
print(DepDelay_List)


#CRSDepTime
CRSDepTime_List=[]
for w in New_Test_df2["CRS_DEP_TIME"]:
    CRSDepTime_List.append(w)
    
print(CRSDepTime_List)


#CRSArrTime
CRSArrTime_List=[]
for w in New_Test_df2["CRS_ARR_TIME"]:
    CRSArrTime_List.append(w)
    
print(CRSArrTime_List)
         
#CRSElapsed_Time
CRSElapsedTime_List=[]
for w in New_Test_df2["CRS_ELAPSED_TIME"]:
    CRSElapsedTime_List.append(w)
    
print(CRSElapsedTime_List)

#Distance
Distance_List=[]
for w in New_Test_df2["DISTANCE"]:
    Distance_List.append(w)
    
print(Distance_List)

['UniqueCarrier_WN', 'UniqueCarrier_WN', 'UniqueCarrier_WN', 'UniqueCarrier_WN', 'UniqueCarrier_WN', 'UniqueCarrier_WN', 'UniqueCarrier_WN', 'UniqueCarrier_WN', 'UniqueCarrier_WN', 'UniqueCarrier_WN']
['Dest_LAX', 'Dest_ATL', 'Dest_LAX', 'Dest_LAX', 'Dest_LAX', 'Dest_LAX', 'Dest_LAX', 'Dest_ATL', 'Dest_ATL', 'Dest_ATL']
['Origin_ATL', 'Origin_LAX', 'Origin_ATL', 'Origin_ATL', 'Origin_ATL', 'Origin_ATL', 'Origin_ATL', 'Origin_LAX', 'Origin_LAX', 'Origin_LAX']
['Month_1', 'Month_1', 'Month_2', 'Month_1', 'Month_6', 'Month_3', 'Month_5', 'Month_1', 'Month_2', 'Month_5']
[13, 18, 10, 9, 28, 7, 1, 26, 1, 19]
['DayOfWeek_6', 'DayOfWeek_4', 'DayOfWeek_6', 'DayOfWeek_2', 'DayOfWeek_4', 'DayOfWeek_3', 'DayOfWeek_2', 'DayOfWeek_5', 'DayOfWeek_4', 'DayOfWeek_6']
[5.0, 6.0, 3.0, 11.0, -2.0, 27.0, 1.0, -1.0, 3.0, 14.0]
[1250, 735, 1910, 1535, 615, 1535, 700, 550, 820, 800]
[1505, 1440, 2120, 1755, 745, 1745, 850, 1305, 1525, 1515]
[315.0, 245.0, 310.0, 320.0, 270.0, 310.0, 290.0, 255.0, 245.0, 255.0]
[1947.0, 1947.0, 1947.0, 1947.0, 1947.0, 1947.0, 1947.0, 1947.0, 1947.0, 1947.0]

In [238]:
Final_Test_df= pd.DataFrame(columns=Train_df.columns)
for i in range(10):
    new_row_data = {UniqueCarrier_List[i]: 1,  Dest_List[i]:1,  Origin_List[i]:1, Month_List[i]:1,"DepDelay":DepDelay_List[i],"Day":Day_List[i],DayofWeek_List[i]:1,
                    "ScheduledDepTime":CRSDepTime_List[i],"ScheduledArrTime":CRSArrTime_List[i],"ScheduledElapsedTime":CRSElapsedTime_List[i],"Distance":Distance_List[i]}
    new_row_df = pd.DataFrame([new_row_data])
    Final_Test_df = pd.concat([Final_Test_df, new_row_df], ignore_index=True)
Final_Test_df=Final_Test_df.fillna(0)
Final_Test_df

C:\Users\hp\AppData\Local\Temp\ipykernel_7280\488500241.py:6: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  Final_Test_df = pd.concat([Final_Test_df, new_row_df], ignore_index=True)

,ScheduledArrTime,Distance,ScheduledDepTime,ScheduledElapsedTime,Day,DepTemperature,DepWindSpeed,DepWindDirection,DepPrecipitation,DepRain,...,DayOfWeek_5,DayOfWeek_6,DayOfWeek_7,Month_1,Month_2,Month_3,Month_4,Month_5,Month_6,DepDelay
0,1505,1947.0,1250,315.0,13,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,5.0
1,1440,1947.0,735,245.0,18,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,6.0
2,2120,1947.0,1910,310.0,10,0,0,0,0,0,...,0,1,0,0,1,0,0,0,0,3.0
3,1755,1947.0,1535,320.0,9,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,11.0
4,745,1947.0,615,270.0,28,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,-2.0
5,1745,1947.0,1535,310.0,7,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,27.0
6,850,1947.0,700,290.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1.0
7,1305,1947.0,550,255.0,26,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,-1.0
8,1525,1947.0,820,245.0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,3.0
9,1515,1947.0,800,255.0,19,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,14.0

In [239]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
def get_normalized_data(data, dist):
    if dist == "uniform":
        return MinMaxScaler().fit_transform(data)
    elif dist == "norm":
        return StandardScaler().fit_transform(data)
    elif dist == "lognorm":
        return np.log(np.abs(data.flatten()) + 0.1)

In [240]:
columns_distributions_dict = {
        "ScheduledArrTime": "norm",
        "Distance": "lognorm",
        "ScheduledDepTime":"norm",
        "ScheduledElapsedTime":"norm",
        "Day":"uniform",
        "DepTemperature":"norm",
        "DepWindSpeed":"lognorm",
        "DepWindDirection":"uniform",
        "DepPrecipitation":"norm",
        "DepRain":"norm",
        "DepSnowFall":"lognorm",
        "ArrTemperature":"norm",
        "ArrWindSpeed":"lognorm",
        "ArrWindDirection":"uniform",
        "ArrPrecipitation":"norm",
        "ArrRain":"norm",
        "ArrSnowFall":"lognorm"
        
    }
def normalize():

    for column in columns_distributions_dict.keys():
        data = np.array(Final_Test_df[column]).reshape(-1, 1)
        Final_Test_df[column] = get_normalized_data(
            data=data, dist=columns_distributions_dict[column]
        )
    return columns_distributions_dict

In [241]:
normalize()
Final_Test_df

,ScheduledArrTime,Distance,ScheduledDepTime,ScheduledElapsedTime,Day,DepTemperature,DepWindSpeed,DepWindDirection,DepPrecipitation,DepRain,...,DayOfWeek_5,DayOfWeek_6,DayOfWeek_7,Month_1,Month_2,Month_3,Month_4,Month_5,Month_6,DepDelay
0,0.139791,7.574096,0.455426,1.148872,0.444444,0.0,-2.302585,0.0,0.0,0.0,...,0,1,0,1,0,0,0,0,0,5.0
1,-0.026932,7.574096,-0.688693,-1.251756,0.629630,0.0,-2.302585,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,0,6.0
2,1.717247,7.574096,1.921677,0.977398,0.333333,0.0,-2.302585,0.0,0.0,0.0,...,0,1,0,0,1,0,0,0,0,3.0
3,0.781033,7.574096,1.088580,1.320345,0.296296,0.0,-2.302585,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,0,11.0
4,-1.809586,7.574096,-0.955284,-0.394389,1.000000,0.0,-2.302585,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,-2.0
5,0.755383,7.574096,1.088580,0.977398,0.222222,0.0,-2.302585,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,27.0
6,-1.540264,7.574096,-0.766449,0.291505,0.000000,0.0,-2.302585,0.0,0.0,0.0,...,0,0,0,0,0,0,0,1,0,1.0
7,-0.373203,7.574096,-1.099688,-0.908809,0.925926,0.0,-2.302585,0.0,0.0,0.0,...,1,0,0,1,0,0,0,0,0,-1.0
8,0.191090,7.574096,-0.499858,-1.251756,0.000000,0.0,-2.302585,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,3.0
9,0.165441,7.574096,-0.544290,-0.908809,0.666667,0.0,-2.302585,0.0,0.0,0.0,...,0,1,0,0,0,0,0,1,0,14.0